<link href="https://areviewsapp.com/css/reviews_online.css" rel="stylesheet" type="text/css" media="all">
<script src="https://areviewsapp.com/js_codes/areviews_main_jscodes.js" defer></script>
{% if product.id or areviews_product_id %}
  <div id="az_reviews" class="az_reviews AReviewsApp" data-product_id="{{ product.id }}"></div>
{% endif %}
<script>
  var customer_id = {% if customer %}{{ customer.id | json }}{% else %}null{% endif %};
  var success = false;
  var counter = 0;
  (function () {
    var el = document.getElementById('az_reviews');
    if (!el) return;
    window.product_id = el.dataset.product_id;
    var loader = document.createElement('img');
    loader.className = 'areviews_loading';
    loader.alt = 'loading';
    loader.style.cssText = 'width:180px;display:block;margin:0 auto;';
    loader.src = 'https://areviewsapp.com/images/loading_icons/default/loading.gif';
    el.replaceChildren(loader);
  })();
</script>
<script src="https://areviewsapp.com/js_codes/areviews_app.js"></script>
